# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../:\c\Mehrzad w&s\BCIT\Python\Assignment3\COMP1516_Assignment#3\Assign3\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
